body{
  background-color: #F3F3F3;
  color: #707070;
}

#header{
  background-color: #F4EEED;
}
#footer{
  background-color: #AAC9CE;
}

.section_1{
  min-height: 80vh;
  background-image: url("./assets/image/bg-1.svg");
  background-position: center;
}
.section_5{
  background-image: url("./assets/image/bg-2.svg");
}
.section_5{
  background-image: url("./assets/image/footer_bg.svg");
}